Introduction

This analysis will look at games sold from the mid 1980's to the mid 2010's of the current consoles of that time.

Here are the areas that will be looked at specifically:

1) Game title
2) Year the game came out
3) Genre of the game
4) How much the game sold in some countries
5) Along with the platform the game is sold on

Applying the libraries

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chardet

Loading the Data and Cleaning What Needs to be Editted Out

In [109]:
platform = pd.read_csv('vgsales.csv')

platform.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [110]:
# Making the dataframe name for the vgchartz csv.
games_2024 = pd.read_csv('vgchartz-2024.csv')


# Displaying the first ten games on the csv that goes to 2024.

games_2024.head(10)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14
5,/games/boxart/full_call-of-duty-modern-warfare...,Call of Duty: Modern Warfare 3,X360,Shooter,Activision,Infinity Ward,8.7,14.82,9.07,0.13,4.29,1.33,2011-11-08,NaN
6,/games/boxart/full_call-of-duty-black-ops_5Ame...,Call of Duty: Black Ops,X360,Shooter,Activision,Treyarch,8.8,14.74,9.76,0.11,3.73,1.14,2010-11-09,NaN
7,/games/boxart/full_4653215AmericaFrontccc.jpg,Red Dead Redemption 2,PS4,Action-Adventure,Rockstar Games,Rockstar Games,9.8,13.94,5.26,0.21,6.21,2.26,2018-10-26,2018-11-02
8,/games/boxart/full_1977964AmericaFrontccc.jpg,Call of Duty: Black Ops II,X360,Shooter,Activision,Treyarch,8.4,13.86,8.27,0.07,4.32,1.20,2012-11-13,2018-04-07
9,/games/boxart/full_4649679AmericaFrontccc.png,Call of Duty: Black Ops II,PS3,Shooter,Activision,Treyarch,8.0,13.80,4.99,0.65,5.88,2.28,2012-11-13,2018-04-07

This data set contained images that did not show on vs code, only giving the url to these pictures of the games. Dropped the column that used the images helps with visualization when looking at the chart. Along with dropping the picture column, four other columns were dropped: na_sales, jp_sales, pal_sales and other_sales. I wanted to get the total sales of the games all together, not what countries had the sales of the specific games.

In [111]:
drop = ['img', 'developer', 'critic_score', 'total_sales', 'jp_sales', 'pal_sales', 'other_sales', 'last_update']

games_2024 = games_2024.drop(columns=drop)

games_2024.head()

,title,console,genre,publisher,na_sales,release_date
0,Grand Theft Auto V,PS3,Action,Rockstar Games,6.37,2013-09-17
1,Grand Theft Auto V,PS4,Action,Rockstar Games,6.06,2014-11-18
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,8.41,2002-10-28
3,Grand Theft Auto V,X360,Action,Rockstar Games,9.06,2013-09-17
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,6.18,2015-11-06

In [112]:
drop = ['EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

platform = platform.drop(columns=drop)

platform.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27

In [113]:
games_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   na_sales      12637 non-null  float64
 5   release_date  56965 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.9+ MB

In [114]:
games_2024

,title,console,genre,publisher,na_sales,release_date
0,Grand Theft Auto V,PS3,Action,Rockstar Games,6.37,2013-09-17
1,Grand Theft Auto V,PS4,Action,Rockstar Games,6.06,2014-11-18
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,8.41,2002-10-28
3,Grand Theft Auto V,X360,Action,Rockstar Games,9.06,2013-09-17
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,6.18,2015-11-06
...,...,...,...,...,...,...
64011,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,NaN,2016-08-11
64012,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,NaN,2020-07-30
64013,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,NaN,2020-07-30
64014,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,NaN,2019-02-28
64015,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,NaN,NaN

In [115]:
platform

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27
...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01

In [116]:
games_2024

,title,console,genre,publisher,na_sales,release_date
0,Grand Theft Auto V,PS3,Action,Rockstar Games,6.37,2013-09-17
1,Grand Theft Auto V,PS4,Action,Rockstar Games,6.06,2014-11-18
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,8.41,2002-10-28
3,Grand Theft Auto V,X360,Action,Rockstar Games,9.06,2013-09-17
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,6.18,2015-11-06
...,...,...,...,...,...,...
64011,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,NaN,2016-08-11
64012,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,NaN,2020-07-30
64013,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,NaN,2020-07-30
64014,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,NaN,2019-02-28
64015,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,NaN,NaN

In [117]:
games = pd.merge(games_2024[['title', 'release_date']], platform, left_on='title', right_on='Name')

games

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
0,Grand Theft Auto V,2013-09-17,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01
1,Grand Theft Auto V,2013-09-17,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63
2,Grand Theft Auto V,2013-09-17,45,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.80
3,Grand Theft Auto V,2013-09-17,198,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.66
4,Grand Theft Auto V,2013-09-17,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
...,...,...,...,...,...,...,...,...,...
44440,Clannad,2019-07-04,14244,Clannad,PS3,2011.0,Adventure,Prototype,0.00
44441,Clannad,2019-07-04,14772,Clannad,X360,2008.0,Adventure,Prototype,0.00
44442,Collar x Malice,2020-06-25,16136,Collar x Malice,PSV,2016.0,Action,Idea Factory,0.00
44443,Muv-Luv Alternative,2018-06-26,16483,Muv-Luv Alternative,PS3,2012.0,Simulation,5pb,0.00
44444,Reine des Fleurs,2019-04-25,15783,Reine des Fleurs,PSV,2015.0,Action,Idea Factory,0.00

Getting the total amount of dollars in video games sales in North America alone.

In [118]:
games.to_csv("games.csv")
games

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
0,Grand Theft Auto V,2013-09-17,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01
1,Grand Theft Auto V,2013-09-17,24,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63
2,Grand Theft Auto V,2013-09-17,45,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.80
3,Grand Theft Auto V,2013-09-17,198,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.66
4,Grand Theft Auto V,2013-09-17,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
...,...,...,...,...,...,...,...,...,...
44440,Clannad,2019-07-04,14244,Clannad,PS3,2011.0,Adventure,Prototype,0.00
44441,Clannad,2019-07-04,14772,Clannad,X360,2008.0,Adventure,Prototype,0.00
44442,Collar x Malice,2020-06-25,16136,Collar x Malice,PSV,2016.0,Action,Idea Factory,0.00
44443,Muv-Luv Alternative,2018-06-26,16483,Muv-Luv Alternative,PS3,2012.0,Simulation,5pb,0.00
44444,Reine des Fleurs,2019-04-25,15783,Reine des Fleurs,PSV,2015.0,Action,Idea Factory,0.00

In [119]:
Total = games['NA_Sales'].sum()
print("In North America", games['NA_Sales'].value_counts().sum(), "dollars was made in video games.")

In North America 44445 dollars was made in video games.

Dropping some of the duplicate games that showed up in the csv.

In [122]:
# games_unique_cleaned = games.drop_duplicates(subset = ['title', 'release_date', 'Rank', 'Name', 'Platform', 'Publisher', 'na_sales'], keep='first')
# games_unique_cleaned

Now getting the total of the top 5 games in North America.

In [127]:
games_2015 = games[games["Year"]== 2015]
games_2015

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
4,Grand Theft Auto V,2013-09-17,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
9,Grand Theft Auto V,2014-11-18,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
16,Grand Theft Auto V,2013-09-17,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
17,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
18,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52
...,...,...,...,...,...,...,...,...,...
44431,Chaos;Child,2014-12-18,16419,Chaos;Child,PS3,2015.0,Adventure,5pb,0.00
44435,Chaos;Child,2019-01-23,12935,Chaos;Child,PSV,2015.0,Adventure,5pb,0.00
44436,Chaos;Child,2019-01-23,16336,Chaos;Child,PS4,2015.0,Adventure,5pb,0.00
44437,Chaos;Child,2019-01-23,16419,Chaos;Child,PS3,2015.0,Adventure,5pb,0.00
44444,Reine des Fleurs,2019-04-25,15783,Reine des Fleurs,PSV,2015.0,Action,Idea Factory,0.00

In [128]:
games_2015_filter = games_2015[games_2015["title"] == "Call of Duty: Black Ops 3"]
games_2015_filter

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
17,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
18,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52
19,Call of Duty: Black Ops 3,2015-11-06,969,Call of Duty: Black Ops 3,PS3,2015.0,Shooter,Activision,0.49
20,Call of Duty: Black Ops 3,2015-11-06,1001,Call of Duty: Black Ops 3,X360,2015.0,Shooter,Activision,1.11
21,Call of Duty: Black Ops 3,2015-11-06,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00
122,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
123,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52
124,Call of Duty: Black Ops 3,2015-11-06,969,Call of Duty: Black Ops 3,PS3,2015.0,Shooter,Activision,0.49
125,Call of Duty: Black Ops 3,2015-11-06,1001,Call of Duty: Black Ops 3,X360,2015.0,Shooter,Activision,1.11
126,Call of Duty: Black Ops 3,2015-11-06,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00
1585,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
1586,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52
1587,Call of Duty: Black Ops 3,2015-11-06,969,Call of Duty: Black Ops 3,PS3,2015.0,Shooter,Activision,0.49
1588,Call of Duty: Black Ops 3,2015-11-06,1001,Call of Duty: Black Ops 3,X360,2015.0,Shooter,Activision,1.11
1589,Call of Duty: Black Ops 3,2015-11-06,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00
1622,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
1623,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52
1624,Call of Duty: Black Ops 3,2015-11-06,969,Call of Duty: Black Ops 3,PS3,2015.0,Shooter,Activision,0.49
1625,Call of Duty: Black Ops 3,2015-11-06,1001,Call of Duty: Black Ops 3,X360,2015.0,Shooter,Activision,1.11
1626,Call of Duty: Black Ops 3,2015-11-06,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00
13055,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
13056,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52
13057,Call of Duty: Black Ops 3,2015-11-06,969,Call of Duty: Black Ops 3,PS3,2015.0,Shooter,Activision,0.49
13058,Call of Duty: Black Ops 3,2015-11-06,1001,Call of Duty: Black Ops 3,X360,2015.0,Shooter,Activision,1.11
13059,Call of Duty: Black Ops 3,2015-11-06,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00

In [ ]:
call_of_duty = games[games["title"]== "Call of Duty: Black Ops 3"].sum()
call_of_duty

title           Call of Duty: Black Ops 3Call of Duty: Black O...
release_date    2015-11-062015-11-062015-11-062015-11-062015-1...
Rank                                                        45790
Name            Call of Duty: Black Ops 3Call of Duty: Black O...
Platform        PS4XOnePS3X360PCPS4XOnePS3X360PCPS4XOnePS3X360...
Year                                                      50375.0
Genre           ShooterShooterShooterShooterShooterShooterShoo...
Publisher       ActivisionActivisionActivisionActivisionActivi...
NA_Sales                                                    59.45
dtype: object

In [ ]:
# top_5_games = games.sort_values(by=['NA_Sales']).sort_index()
# print(games.nlargest(5, 'NA_Sales', '2015'))
# top_5_games

sort_games = pd.concat([
    games[games['Year'] == 2015].sort_values(by='NA_Sales', ascending=False),
    games[games['Year'] != 2015]
])
sort_games.head()

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
13055,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
17,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
122,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
1622,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
1585,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77

In [ ]:
top_games_2015 = sort_games[sort_games['Year'] == 2015]

unique_games_2015 = games.drop_duplicates(subset='title')

combined_sales_2015 = unique_games_2015.groupby('title')['NA_Sales'].sum().reset_index()

top_games_2015_combined = combined_sales_2015.sort_values(by='NA_Sales', ascending=False).head()

print("The top 5 games in 2015 without duplicates are:")
top_games_2015

The top 5 games in 2015 without duplicates are:

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
13055,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
17,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
122,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
1622,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
1585,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
...,...,...,...,...,...,...,...,...,...
30832,Barbie and Her Sisters Puppy Rescue,2015-11-03,14046,Barbie and Her Sisters Puppy Rescue,3DS,2015.0,Action,Namco Bandai Games,0.00
30833,Barbie and Her Sisters Puppy Rescue,2015-11-03,15942,Barbie and Her Sisters Puppy Rescue,PS3,2015.0,Action,Namco Bandai Games,0.00
30834,Barbie and Her Sisters Puppy Rescue,2015-11-03,16107,Barbie and Her Sisters Puppy Rescue,WiiU,2015.0,Action,Namco Bandai Games,0.00
30835,Infinite Stratos 2: Love and Purge,2015-09-03,16078,Infinite Stratos 2: Love and Purge,PSV,2015.0,Action,5pb,0.00
44444,Reine des Fleurs,2019-04-25,15783,Reine des Fleurs,PSV,2015.0,Action,Idea Factory,0.00

In [ ]:
sorted_games_2015 = sorted_games_2015.drop_duplicates(subset='title')

combined_sales_2015 = unique_sorted_games_2015.groupby('title')['NA_Sales'].sum().reset_index()

games_top_5_sales = combined_sales_2015.sort_values(by='NA_Sales', ascending=False).head(5)

print("The top 5 games in 2015, without duplicates on different consoles, are: ")
print(games_top_5_sales)

NameError: name 'sorted_games_2015' is not defined

In [ ]:
top_five_games = games_2015.groupby("title")["NA_Sales"].sum().reset_index()
top_five_games

                                                 title  NA_Sales
0                  3rd Super Robot Wars Z: Tengoku-Hen      0.00
1                            7 Roses: A Darkness Rises      0.00
2                             7th Dragon III Code: VFD      0.03
3    A Good Librarian Like a Good Shepherd: Library...      0.00
4                          Abunai: Koi no Sousa Shitsu      0.00
..                                                 ...       ...
324      YoKai Watch Dance: Just Dance Special Version      0.00
325                                           Yomawari      0.00
326                               Yoshi's Woolly World      0.61
327          Yuki Yuna is a Hero: Memory of the Forest      0.00
328                                Zombie Army Trilogy      0.32

[329 rows x 2 columns]

In [ ]:
games_filter = games.pipe(lambda x: x.loc[x['Year'] == 2015])
games_filter.head()

,title,release_date,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales
4,Grand Theft Auto V,2013-09-17,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
9,Grand Theft Auto V,2014-11-18,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
16,Grand Theft Auto V,2013-09-17,1898,Grand Theft Auto V,PC,2015.0,Action,Take-Two Interactive,0.36
17,Call of Duty: Black Ops 3,2015-11-06,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77
18,Call of Duty: Black Ops 3,2015-11-06,102,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.52

In [ ]:
top_five_games = games.groupby('Year', as_index=False)['NA_Sales'].nunique().sort_values('NA_Sales')
top_five_games

      Year  NA_Sales
38  2020.0         1
37  2017.0         1
5   1985.0         9
0   1980.0         9
4   1984.0        11
8   1988.0        11
7   1987.0        12
10  1990.0        12
9   1989.0        14
3   1983.0        15
6   1986.0        15
11  1991.0        15
13  1993.0        16
12  1992.0        20
14  1994.0        27
2   1982.0        29
15  1995.0        40
1   1981.0        40
36  2016.0        45
16  1996.0        69
17  1997.0        79
35  2015.0        87
20  2000.0        90
19  1999.0        96
32  2012.0        97
34  2014.0        99
33  2013.0       105
18  1998.0       105
21  2001.0       113
25  2005.0       118
26  2006.0       118
23  2003.0       122
24  2004.0       123
31  2011.0       123
22  2002.0       129
29  2009.0       136
30  2010.0       138
27  2007.0       140
28  2008.0       147

In [ ]:
per_year = games.groupby('Year')['na_sales'].sum()
print("The amount of money made in was", per_year[2015], "US dollars.")

The amount of money made in was 410.45 US dollars.

In [ ]:
games.groupby('Publisher').agg({'Publisher': 'max'})['Publisher']

# publisher = games['publisher'].max()

# print(publisher)

Publisher
10TACLE Studios                              10TACLE Studios
1C Company                                        1C Company
20th Century Fox Video Games    20th Century Fox Video Games
2D Boy                                                2D Boy
3DO                                                      3DO
                                            ...
id Software                                      id Software
imageepoch Inc.                              imageepoch Inc.
inXile Entertainment                    inXile Entertainment
mixi, Inc                                          mixi, Inc
responDESIGN                                    responDESIGN
Name: Publisher, Length: 570, dtype: object

In [ ]:
print("Genre", games['genre'].value_counts().idxmax(), "had the most genre in video games.")

Genre Sports had the most genre in video games.

In [ ]:
# question number 1



publisher = games.genre.value_counts()

x = list(Year)
y = list(publisher)

fig, ax = plt.subplots()
width = 0.75
ind = np.arange(len(y))
ax.bar(ind, y, width, color="blue")
ax.set_yticks(ind+width/2)
ax.set_yticklabels(x, minor=False)
for i, v in enumerate(y):
    ax.text(v + .25, i + .25, str(v), color='blue', fontweight='bold')
plt.title('Video Game Sales in North America')
plt.xlabel('x')
plt.ylabel('y')
plt.show()

NameError: name 'Year' is not defined